<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sunshine TestNG integration tests">
    <test name="1">
        <classes>
            <class name="io.github.tatools.testngtests.TestNGXmlTest1"/>
        </classes>
    </test>
    <test name="2">
        <classes>
            <class name="io.github.tatools.testngtests.TestNGXmlTest2"/>
        </classes>
    </test>
</suite>